body{
    height: 100vh;
    background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-celestial.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 3em;
}

.container{
    display: flex;
}

.dayDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
}

.monthYear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(255, 167, 59);
    color: white;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
}
