body{
    background: linear-gradient(to right bottom , red,orange,yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 7em;
    color: rgb(120, 0, 0);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    font-size: 3em;
    background-color: red;
    color: yellow;
    border: none;
    border-radius: 10px;
}